<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">

<body>
	<div layout:fragment="content">
		<section class="wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-bars"></i> Archives</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="/index">Home</a></li>
						<li><i class="fa fa-bars"></i><a href="/archives">Accueil Archives</a></li>
						<li><i class="fa fa-square-o"></i>Archive List</li>
					</ol>
				</div>
			</div>
			<section class="panel border-top">
				<div class="row">
					<div class="col-lg-12">
						<section class="panel" style="margin-bottom: 0px;">
							<div class="panel-body">
								<a th:href="@{/archives/archiveAdd}" class="btn btn-primary">
									Ajouter un nouveau document Archive
								</a>
							</div>
						</section>

						<section class="panel">
							<header class="panel-heading">
								Archive
								<!-- Première modale pour afficher la miniature du document -->
								<div class="modal fade" tabindex="-1" role="dialog" id="documentThumbnailModal">
									<div class="modal-dialog" role="document" style="width: 50%">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">Document</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<img id="archiveDocument" th:src="@{'/img/documents/avatar1.jpg'}"
													width="90%" height="90%">
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Fermer
												</button>
											</div>
										</div>
									</div>
								</div>
							</header>
							<form th:action="@{/archives/archives}" method="get">
								<div class="form-row">
									<div class="form-group col-md-4">
										<label for="filterDate">Date</label>
										<input type="date" class="form-control" id="filterDate" name="filterDate">
									</div>
									<div class="form-group col-md-4">
										<label for="filterTheme">Thème</label>
										<select class="form-control" id="filterTheme" name="filterTheme">
											<option th:value="${null}">-SELECT-</option>
											<option th:each="archiveTheme : ${archiveTheme}"
												th:value="${archiveTheme.description}"
												th:text="${archiveTheme.description}">
											</option>
										</select>

									</div>
									<div class="form-group col-md-4">
										<label for="ddlArchiveUserAdd" class="col-sm-4 col-form-label">Utilisateur
										</label>
										<select class="form-control" id="ddlArchiveUserAdd" name="archiveuserid">
											<option th:value="${null}">-SELECT-</option>
											<option th:each="archiveUser : ${archiveUser}" th:value="${archiveUser.Id}"
												th:text="${archiveUser.username}">
											</option>
										</select>
									</div>
									<div class="form-group col-md-4">
										</br>
										<button type="submit" class="btn btn-primary">Appliquer le filtre</button>
									</div>
								</div>
							</form>

							<table class="table table-striped table-advance table-hover">
								<tbody>
									<tr>
										<th class="col-md-2">Document</th>
										<th>Id</th>
										<th class="col-md-1">Titre</th>
										<th class="col-md-2">Description</th>
										<th>Date de collecte</th>
										<th>Action</th>
									</tr>
									<tr th:each="archive:${archives}">
										<td class="text-left">
											<th:block th:if="${archive.archivedocumentid != null}">
												<!-- Bouton pour ouvrir la modale -->
												<!-- Modifier la partie Thymeleaf du bouton "Voir" dans votre code HTML -->
												<!-- Modifier la partie Thymeleaf du bouton "Voir" dans votre code HTML -->
												<button
													th:if="${archive.archivedocumentid != null and archive.archiveDocument != null 
												and (#strings.endsWith(archive.archiveDocument.name, '.png') or #strings.endsWith(archive.archiveDocument.name, '.jpg') or #strings.endsWith(archive.archiveDocument.name, '.gif'))}"
													class="btn btn-info btn-sm" data-toggle="modal"
													data-target="#documentThumbnailModal"
													th:attr="data-src=@{/download(id=${archive.archivedocumentid})}">Voir l'image</button>
												<!-- Lien de téléchargement du document avec décalage vers le haut -->
												<a th:href="@{'/download?id=' + ${archive.archivedocumentid}}"
													class="btn btn-primary btn-sm mt-2" role="button" target="_blank">
													Télécharger
												</a>
											</th:block>
										</td>
										<td class="text-left" th:text="${archive.id}">Id</td>
										<td class="text-left" th:text="${archive.titre}">Titre</td>
										<td class="text-left" th:text="${archive.description}">Description</td>
										<td class="text-left" th:text="${archive.enregistrementDate}">Date
											d'enregistrement
										</td>
										<td>
											<div class="btn-group">
												<a class="btn btn-primary" id="editButton"
													th:href="@{'/archives/archive/Edit/'+${archive.id}}"><i
														class="fa fa-pencil-alt"></i></a>
												<a class="btn btn-success" id="detailsButton"
													th:href="@{'/archives/archive/Details/'+${archive.id}}"><i
														class="fa fa-file-alt"></i></a>
												<a class="btn btn-danger" id="deleteButton"
													onclick="  confirm('Are you sure you want to delete this record?')"
													th:href="@{'/archives/archive/delete/'+${archive.id}}"><i
														class="fa fa-times"></i></a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- Deuxième modale pour afficher le document complet -->
							<div class="modal fade" tabindex="-1" role="dialog" id="documentModal">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Document</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<iframe id="documentViewer" width="100%" height="500px"
												frameborder="0"></iframe>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Fermer</button>
										</div>
									</div>
								</div>
							</div>

						</section>
					</div>
				</div>
				<!--Content of the page-->
			</section>
	</div>

	<!-- Script JavaScript pour gérer les modales -->

	<th:block layout:fragment="script">
		<script language="JavaScript">
			$('document').ready(function () {

				// Gestion de la deuxième modale pour afficher le document PDF
				$('.table button[data-target="#documentModal"]').on('click', function () {
					var documentUrl = $(this).data('src');
					var pdfViewer = document.getElementById('documentViewer');
					PDFJS.getDocument(documentUrl).then(function (pdf) {
						pdf.getPage(1).then(function (page) {
							var scale = 1.5;
							var viewport = page.getViewport({scale: scale});
							var canvas = document.createElement('canvas');
							var context = canvas.getContext('2d');
							canvas.height = viewport.height;
							canvas.width = viewport.width;
							var renderContext = {
								canvasContext: context,
								viewport: viewport
							};
							pdfViewer.innerHTML = '';
							pdfViewer.appendChild(canvas);
							page.render(renderContext);
						});
					});
				});
				// Gestion de la première modale pour afficher la miniature du document
				$('.table button[data-target="#documentThumbnailModal"]').on('click', function () {
					var documentThumbnailUrl = $(this).data('src');
					$('#documentThumbnailModal #archiveDocument').attr('src', documentThumbnailUrl);
				});

				// Gestion de la deuxième modale pour afficher le document complet
				$('.table button[data-target="#documentModal"]').on('click', function () {
					var documentUrl = $(this).data('src');
					$('#documentModal #documentViewer').attr('src', documentUrl);
				});
			});
		</script>
	</th:block>

</body>

</html>